.omit-value  {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;

    .header {
        height: 40px;
        display: flex;

        .header-item {
            flex: 1;
            height: 40px;
            line-height: 40px;
            position: relative;

            &.rotate {
                transform: rotateZ(-60deg);
                div {
                    text-align: left;
                }
            }

            div {
                width: 100%;
                position: absolute;
                text-align: center;
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        flex: 1;

        .row {
            display: flex;
            flex: 1;

            .cell {
                flex: 1;
                flex-shrink: 0;
                position: relative;
                .bg {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;                
                    
                    .utility {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        background-color:  rgb(33, 115, 50);
                    }
                    .privacy {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                    }
                }

            }
        }
    }
    
}