.attr-init-view {
  padding: 10px;

  .view-title {
      font-size: 24px;
      text-align: left;
      padding-bottom: 10px;
  }
}


.attr-init {
  display: flex;
  overflow-x: auto;
  position: relative;
  height: 100%;
  .chart {
    min-width: 320px;
    max-width: 380px;
    flex: 1;
  }

  .attr-info {
    height: 120px;
    text-align: center;
    .title {
      font-size: 24px;
    font-weight: 500;
    }

    .form-block {
      padding: 5px 0;
      .ant-checkbox-wrapper {
        margin-right: 5px;
      }
      input {
        border: none;
        outline: none;
        border-bottom: 1px solid rgba($color: #8a8a8a, $alpha: 0.5);
        text-align: center;
      }
    }
  }
}
.tooltip {
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  background-color: #e7eff8;
  border: solid#1866BB 1px;
}
.ant-input-number-input {
  padding: 5px;
}