.attr-init {
  display: flex;
  overflow-x: auto;
  position: relative;
  height: 100%;
}
.attr-init .chart {
  min-width: 320px;
  flex: 1;
}
.attr-init .attr-info {
  height: 120px;
  text-align: center;
}
.attr-init .attr-info .title {
  font-size: 24px;
  font-weight: 500;
}
.attr-init .attr-info .form-block {
  padding: 5px 0;
}
.attr-init .attr-info .form-block .ant-checkbox-wrapper {
  margin-right: 5px;
}
.attr-init .attr-info .form-block input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(138, 138, 138, 0.5);
  text-align: center;
}
