.attr-init-view {
  padding: 10px;

  .view-title {
      font-size: 24px;
      text-align: left;
      padding-bottom: 10px;
  }
}

.init-content {
  height: 960px;
  width: 100%;

  .init-left {
    text-align: center;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 530px;
    left: 5px;
  }
  .init-stop {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .init-right {
    text-align: center;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 530px;
    left: 905px;
  }
  
  .attr-init {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: 960px;
    width: 100%;
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 4px;
      position: absolute;
      right: -8px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 8px;
    }
    
    &::-webkit-scrollbar-track {
        border: 1px solid #ececec;
        border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 4px;
    }
    svg {
      overflow: visible;
    }
    .chart {
      flex: 1;
      margin: 0 10px;
      padding: 20px 0;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    .attr-info {
      height: 90px;
      text-align: center;
      .title {
        font-size: 24px;
      font-weight: 500;
      }

      .form-block {
        padding: 5px 0;
        display: flex;
        justify-content: center;
        p {
          margin-right: 5px;
        }
        .ant-checkbox-wrapper {
          margin-right: 5px;
        }
        input {
          border: none;
          outline: none;
          border-bottom: 1px solid rgba($color: #8a8a8a, $alpha: 0.5);
          text-align: center;
        }
      }
    }
  }
}
.ant-input-number-input {
  padding: 5px;
}