.categorical-view {
  text-align: center;
  margin: 20px;
    .axis-ver {
        // line{
        //   stroke: #333	;
        // }
        
        // path{
        //   stroke: #333	;
        // }
        
        text{
          fill: #333	;
        }  
      }
}