.categorical-view {
  text-align: center;
  width: fit-content;
    .axis-ver {
        // line{
        //   stroke: #333	;
        // }
        
        // path{
        //   stroke: #333	;
        // }
        
        text{
          fill: #333	;
        }  
      }
}