.categorical-view {
    .axis-ver {
        line{
          stroke: #9B9DA0	;
        }
        
        path{
          stroke: #9B9DA0	;
        }
        
        text{
          fill: #9B9DA0	;
        }  
      }
}