.merge-panel {
  width: 340px;
  padding: 15px;
  box-shadow: 0 0 1px #808080;
  border-radius: 3px;
  background-color: white;
}
.merge-panel > div {
  margin-top: 8px;
}
.merge-panel > div:first-child {
  margin-top: 0;
}
.merge-panel .title {
  font-size: 24px;
  font-weight: 500;
}
.merge-panel .group-list .groups {
  line-height: 48px;
}
.merge-panel .group-list .group {
  display: inline-block;
  height: 32px;
  border-radius: 16px;
  background-color: #e0e8ff;
  vertical-align: middle;
  padding: 4px 10px;
  margin-right: 8px;
  cursor: pointer;
}
.merge-panel .group-list .group.active {
  background-color: #c0d8ff;
}
.merge-panel .group-list .group .name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.merge-panel .button {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: #1890ff;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.merge-panel .button.disabled {
  background-color: #ececec;
  color: white;
}
.merge-panel .row {
  display: flex;
  justify-content: space-between;
}
.merge-panel .group-name-input {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
.merge-panel .empty {
  text-align: center;
  color: lightgrey;
}
.merge-panel .group-name {
  margin-bottom: 18px;
}
