.numerical-view {
  margin: 20px;
  text-align: center;
  svg {
    user-select: none;
    overflow: visible;
  }
  .line {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
  }

  .overlay {
  fill: none;
  pointer-events: all;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: #e0e8ff;
    stroke: #fff;
  }

  .focus circle {
  fill: none;
  stroke: #1866BB;
  }

  .area {
    fill: #1866BB;
    fill-opacity: 0.2;
  }

  .axis-ver {
    // line{
    //   stroke: #333	;
    // }
    
    // path{
    //   stroke: #333	;
    // }
    
    text{
      fill: #333;
      font-size: 12px;
    }  
  }

  .break-point {
    cursor: pointer;

    &.active, &:hover {
      stroke: grey;
    }
  }

}
