.numberical-view {
  /* Style the dots by assigning a fill and stroke */
}
.numberical-view .line {
  fill: none;
  stroke: #e0e8ff;
  stroke-width: 3;
}
.numberical-view .overlay {
  fill: none;
  pointer-events: all;
}
.numberical-view .dot {
  fill: #e0e8ff;
  stroke: #fff;
}
.numberical-view .focus circle {
  fill: none;
  stroke: steelblue;
}
.numberical-view .area {
  fill: aliceblue;
}
