.numerical-view {
  text-align: center;
  svg {
    user-select: none;
  }
  .line {
    fill: none;
    stroke: #1866BB;
    stroke-width: 2;
  }

  .overlay {
  fill: none;
  pointer-events: all;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: #e0e8ff;
    stroke: #fff;
  }

  .focus circle {
  fill: none;
  stroke: #1866BB;
  }

  .area {
    fill: aliceblue;
  }

  .axis-ver {
    line{
      stroke: #333	;
    }
    
    path{
      stroke: #333	;
    }
    
    text{
      fill: #333	;
    }  
  }

  .break-point {
    cursor: pointer;

    &.active, &:hover {
      stroke: grey;
    }
  }

}
