.attr-init-view {
  padding: 10px; }
  .attr-init-view .view-title {
    font-size: 24px;
    text-align: left;
    padding-bottom: 10px; }

.attr-init {
  display: flex;
  max-width: 1000px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  height: 960px; }
  .attr-init .chart {
    min-width: 200px;
    max-width: 380px;
    height: 950px;
    flex: 1; }
  .attr-init .attr-info {
    height: 90px;
    text-align: center; }
    .attr-init .attr-info .title {
      font-size: 24px;
      font-weight: 500; }
    .attr-init .attr-info .form-block {
      padding: 5px 0; }
      .attr-init .attr-info .form-block .ant-checkbox-wrapper {
        margin-right: 5px; }
      .attr-init .attr-info .form-block input {
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(138, 138, 138, 0.5);
        text-align: center; }

.ant-input-number-input {
  padding: 5px; }
