.attr-init-view {
  padding: 10px; }
  .attr-init-view .view-title {
    font-size: 24px;
    text-align: left;
    padding-bottom: 10px; }

.init-content {
  height: 960px;
  width: 940px; }
  .init-content .init-left {
    text-align: center;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 530px;
    left: 5px; }
  .init-content .init-stop {
    cursor: not-allowed;
    opacity: 0.5; }
  .init-content .init-right {
    text-align: center;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 530px;
    left: 905px; }
  .init-content .attr-init {
    display: flex;
    overflow: visible;
    position: relative;
    height: 960px; }
    .init-content .attr-init svg {
      overflow: visible; }
    .init-content .attr-init .chart {
      min-width: 200px;
      max-width: 380px;
      height: 950px;
      flex: 1;
      margin: 0 10px; }
    .init-content .attr-init .attr-info {
      height: 90px;
      text-align: center; }
      .init-content .attr-init .attr-info .title {
        font-size: 24px;
        font-weight: 500; }
      .init-content .attr-init .attr-info .form-block {
        padding: 5px 0; }
        .init-content .attr-init .attr-info .form-block .ant-checkbox-wrapper {
          margin-right: 5px; }
        .init-content .attr-init .attr-info .form-block input {
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(138, 138, 138, 0.5);
          text-align: center; }

.ant-input-number-input {
  padding: 5px; }
