.categorical-view {
  text-align: center; }
  .categorical-view .axis-ver line {
    stroke: #333; }
  .categorical-view .axis-ver path {
    stroke: #333; }
  .categorical-view .axis-ver text {
    fill: #333; }
