.numberical-view {
  /* Style the dots by assigning a fill and stroke */ }
  .numberical-view svg {
    user-select: none; }
  .numberical-view .line {
    fill: none;
    stroke: #e0e8ff;
    stroke-width: 3; }
  .numberical-view .overlay {
    fill: none;
    pointer-events: all; }
  .numberical-view .dot {
    fill: #e0e8ff;
    stroke: #fff; }
  .numberical-view .focus circle {
    fill: none;
    stroke: steelblue; }
  .numberical-view .area {
    fill: aliceblue; }
  .numberical-view .axis-ver line {
    stroke: #9B9DA0; }
  .numberical-view .axis-ver path {
    stroke: #9B9DA0; }
  .numberical-view .axis-ver text {
    fill: #9B9DA0; }
  .numberical-view .break-point {
    cursor: pointer; }
    .numberical-view .break-point.active, .numberical-view .break-point:hover {
      stroke: grey; }
