.numerical-view {
  text-align: center;
  /* Style the dots by assigning a fill and stroke */ }
  .numerical-view svg {
    user-select: none;
    overflow: visible; }
  .numerical-view .line {
    fill: none;
    stroke: #fff;
    stroke-width: 1; }
  .numerical-view .overlay {
    fill: none;
    pointer-events: all; }
  .numerical-view .dot {
    fill: #e0e8ff;
    stroke: #fff; }
  .numerical-view .focus circle {
    fill: none;
    stroke: #1866BB; }
  .numerical-view .area {
    fill: #1866BB;
    fill-opacity: 0.2; }
  .numerical-view .axis-ver text {
    fill: #333;
    font-size: 12px; }
  .numerical-view .break-point {
    cursor: pointer; }
    .numerical-view .break-point.active, .numerical-view .break-point:hover {
      stroke: grey; }
