.numerical-view {
  text-align: center;
  /* Style the dots by assigning a fill and stroke */ }
  .numerical-view svg {
    user-select: none; }
  .numerical-view .line {
    fill: none;
    stroke: #1866BB;
    stroke-width: 2; }
  .numerical-view .overlay {
    fill: none;
    pointer-events: all; }
  .numerical-view .dot {
    fill: #e0e8ff;
    stroke: #fff; }
  .numerical-view .focus circle {
    fill: none;
    stroke: #1866BB; }
  .numerical-view .area {
    fill: aliceblue; }
  .numerical-view .axis-ver line {
    stroke: #333; }
  .numerical-view .axis-ver path {
    stroke: #333; }
  .numerical-view .axis-ver text {
    fill: #333; }
  .numerical-view .break-point {
    cursor: pointer; }
    .numerical-view .break-point.active, .numerical-view .break-point:hover {
      stroke: grey; }
