.table-view {
  max-height: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden; }
  .table-view .table-title {
    display: flex;
    justify-content: space-between; }
    .table-view .table-title .view-title {
      font-size: 24px;
      text-align: left;
      padding-bottom: 10px; }
    .table-view .table-title .operation {
      display: flex;
      margin-right: 8px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .table-view .table-title .operation label {
        margin-right: 5px; }
      .table-view .table-title .operation .ant-switch-checked {
        background: #1866bb; }
  .table-view .table {
    height: calc(100% - 105px);
    user-select: none; }
    .table-view .table.all-record .table-body .table-cell {
      height: 20px; }
    .table-view .table.all-record .table-header.left .table-cell {
      height: 20px;
      line-height: 20px; }
    .table-view .table .wrapper {
      display: flex; }
    .table-view .table .select-highlight {
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      border: 2px solid #0f6fd6; }
      .table-view .table .select-highlight.left {
        border-right: none; }
      .table-view .table .select-highlight.right {
        border-left: none; }
    .table-view .table .highlight-mask {
      position: absolute;
      pointer-events: none;
      border: 2px solid #3987db;
      width: 100%; }
    .table-view .table .table-header.top {
      display: flex;
      overflow-x: hidden;
      margin-right: 8px;
      background-color: #bbb;
      color: white;
      font-size: 18px;
      height: 40px;
      flex: 1; }
      .table-view .table .table-header.top::-webkit-scrollbar {
        height: 0px;
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */ }
      .table-view .table .table-header.top img {
        width: 18px;
        max-height: 40px; }
      .table-view .table .table-header.top .table-cell {
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        min-width: 60px; }
    .table-view .table .table-header.left {
      overflow-y: hidden;
      margin-bottom: 8px;
      position: relative; }
      .table-view .table .table-header.left::-webkit-scrollbar {
        height: 0px;
        width: 0px;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */ }
      .table-view .table .table-header.left .risk {
        background-color: rgba(186, 135, 100, 0.1); }
      .table-view .table .table-header.left .no-risk {
        background-color: #efefef; }
      .table-view .table .table-header.left .scroll-wrapper {
        overflow: hidden;
        min-width: fit-content;
        min-width: -moz-fit-content; }
        .table-view .table .table-header.left .scroll-wrapper::-webkit-scrollbar {
          height: 0px;
          width: 0px;
          /* remove scrollbar space */
          background: transparent;
          /* optional: just make scrollbar invisible */ }
      .table-view .table .table-header.left .table-cell.group {
        cursor: pointer; }
    .table-view .table .table-header.top-left {
      min-width: 60px;
      display: flex;
      overflow-x: auto;
      background-color: #bbb;
      color: white;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .table-view .table .table-body {
      flex: 1;
      overflow: auto;
      position: relative; }
      .table-view .table .table-body .tooltip {
        position: absolute;
        width: auto;
        z-index: 99;
        pointer-events: none; }
      .table-view .table .table-body .table-cell {
        box-shadow: 1px 1px 0px rgba(153, 153, 153, 0.2);
        height: 15px; }
      .table-view .table .table-body .table-row.group .table-cell {
        height: 30px; }
      .table-view .table .table-body .table-row.risk .table-cell {
        background-color: rgba(186, 135, 100, 0.1); }
      .table-view .table .table-body .table-row.no-risk .table-cell {
        background-color: #efefef; }
      .table-view .table .table-body::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
        position: absolute;
        right: -8px; }
      .table-view .table .table-body::-webkit-scrollbar:horizontal {
        height: 8px; }
      .table-view .table .table-body::-webkit-scrollbar-track {
        border: 1px solid #ececec;
        border-radius: 4px; }
      .table-view .table .table-body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 4px; }
      .table-view .table .table-body .scroll-wrapper.extent-rows {
        overflow-y: auto;
        min-width: fit-content;
        min-width: -moz-fit-content; }
        .table-view .table .table-body .scroll-wrapper.extent-rows::-webkit-scrollbar {
          height: 0px;
          width: 0px;
          /* remove scrollbar space */
          background: transparent;
          /* optional: just make scrollbar invisible */ }
      .table-view .table .table-body .selection-mask {
        border: 1px solid #145096;
        pointer-events: none; }
    .table-view .table .table-row {
      display: flex;
      min-width: fit-content;
      min-width: -moz-fit-content; }
      .table-view .table .table-row.group {
        box-shadow: 0 2 2px #999;
        cursor: pointer; }
    .table-view .table .table-cell {
      position: relative;
      flex: 1 0 0;
      text-align: center;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60px;
      height: 30px;
      min-width: 60px; }
      .table-view .table .table-cell .bg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1; }
        .table-view .table .table-cell .bg.del {
          background-size: 100% 100%; }
      .table-view .table .table-cell.select-row {
        cursor: crosshair;
        height: 10px; }
      .table-view .table .table-cell.em {
        font-weight: 500; }
    .table-view .table .selection-mask {
      position: absolute;
      width: 100%;
      background: rgba(20, 80, 150, 0.2); }
  .table-view .scroll-wrapper {
    position: relative;
    overflow: -moz-scrollbars-none; }
  .table-view .table-legend {
    display: flex;
    height: 50px;
    margin: 5px 120px 0px 120px;
    padding: 13px;
    text-align: center;
    border: 2px #ddd dashed; }
    .table-view .table-legend .table-legend-unit {
      display: flex;
      min-width: 120px;
      margin-left: 40px;
      height: 30px; }
      .table-view .table-legend .table-legend-unit label {
        margin-left: 5px; }
    .table-view .table-legend .table-utility {
      width: 100px;
      height: 10px;
      margin-top: 7px;
      background-image: linear-gradient(to right, rgba(33, 115, 50, 0.1), rgba(33, 115, 50, 0.87)); }
    .table-view .table-legend .table-risk {
      width: 100px;
      height: 10px;
      margin-top: 7px;
      background-image: linear-gradient(to right, rgba(254, 41, 1, 0.1), #fe2901); }
    .table-view .table-legend .table-remove {
      width: 20px;
      height: 20px;
      background-color: rgba(33, 115, 50, 0.5);
      background-size: 20px; }
