.data-trim-view {
    padding: 10px;
  
    .view-title {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }
  }
  
  .trim-content {
    height: 895px;
    width: 940px;

    .trim-left {
      text-align: center;
      width: 50px;
      height: 60px;
      position: fixed;
      top: 530px;
      left: 5px;
    }
    .trim-stop {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .trim-right {
      text-align: center;
      width: 50px;
      height: 60px;
      position: fixed;
      top: 530px;
      left: 905px;
    }
    
    .attr-trim {
      overflow: auto;
      position: relative;
      height: 890px;
      &::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
        position: absolute;
        right: -8px;
      }
  
      &::-webkit-scrollbar:horizontal {
          height: 8px;
      }
      &::-webkit-scrollbar-track {
        border: 1px solid #ececec;
        border-radius: 4px;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 4px;
      }
      svg {
        overflow: visible;
      }
      .chart {
        flex: 1;
        margin: 0 10px;
        padding: 20px 0;
      }
    
      .attr-info {
        text-align: center;
        height: 45; 
        display:  flex;
        justify-content: center;
        align-items: center;
        .title {
          margin-right: 5px;
          display: 'flex';
          align-items: center;
          font-size: 24px;
          font-weight: 500;
        }
    
        .form-block {
          padding: 5px 0;
        }
      }
    }
  }

  .trim-legend {
    display: flex;
    height: 50px;
    margin: 5px 170px 0px 170px;
    padding: 13px;
    text-align: center;
    border: 2px #ddd dashed;
    
    .trim-legend-unit{
      display: flex;
      width: 220px;
      height: 30px;
      label {
        margin-left: 5px;
        vertical-align: middle;
        color: #333;
      }
    }
    .trim-original {
      width: 20px;
      height: 20px;
      border: solid 1px #1866BB;
    }
    .trim-current {
      width: 20px;
      height: 20px;
      background-color: #d0e0f0;
      .trim-tt {
        margin-left: 10px;
        width: 10px;
        height: 20px;
        background-size: 20px;
      }
    }
    .trim-trim {
      width: 20px;
      height: 20px;
      // background-color: #d0e0f0;
      background-size: 20px;
    }
  }