.data-trim-view {
    padding: 10px;
  
    .view-title {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }
  }
  
  .trim-content {
    height: 890px;
    width: 940px;

    .trim-left {
      text-align: center;
      width: 30px;
      height: 60px;
      position: fixed;
      top: 530px;
      left: 5px;
    }

    .trim-right {
      text-align: center;
      width: 30px;
      height: 60px;
      position: fixed;
      top: 530px;
      left: 925px;
    }
    
    .attr-trim {
      display: flex;
      overflow: visible;
      position: relative;
      height: 890px;
      .chart {
        min-width: 200px;
        max-width: 380px;
        height: 880px;
        flex: 1;
      }
    
      .attr-info {
        height: 60px;
        text-align: center;
        .title {
          font-size: 24px;
        font-weight: 500;
        }
    
        .form-block {
          padding: 5px 0;
        }
      }
    }
  }

  .trim-legend {
    display: flex;
    height: 50px;
    margin: 5px 170px 0px 170px;
    padding: 13px;
    text-align: center;
    border-radius: 5;
    border: 2px #ddd dashed;
    
    .trim-legend-unit{
      display: flex;
      width: 220px;
      height: 30px;
      label {
        margin-left: 5px;
        vertical-align: middle;
        color: #333;
      }
    }
    .trim-original {
      width: 20px;
      height: 20px;
      border: solid 1px #1866BB;
    }
    .trim-current {
      width: 20px;
      height: 20px;
      background-color: #d0e0f0;
    }
    .trim-trim {
      width: 20px;
      height: 20px;
      background: repeating-linear-gradient(
        -45deg,
        #d0e0f0,
        #d0e0f0 4px,
        #333 1px,
        #333 5px);
    }
  }