.data-view {
  padding: 10px;
  border-right: 1px solid rgba(138, 138, 138, 0.5);
}
.data-view .tabs {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  min-height: 32px;
  padding-bottom: 5px;
}
.data-view .tabs .tab {
  padding: 0 5px;
  min-height: 32px;
  display: flex;
  align-items: flex-end;
}
.data-view .tabs .tab:first-child {
  padding-left: 0;
  padding-bottom: 2.5px;
}
.data-view .tabs .tab:last-child {
  padding-right: 0;
}
.data-view .tabs .tab.active {
  font-size: 24px;
  line-height: 24px;
  vertical-align: bottom;
}
