.load-data {
    font-size: 18px;
    .dateset-list {
        padding-bottom: 10px;
        border-bottom: 1px dotted #e8e8e8;
    }        
    .datasets {
        display: flex;
        flex-wrap: wrap;

        .button {
            height: 40px;
            border-radius: 10px;
            border: 1px solid #ececec;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            cursor: pointer;
            margin: 0 10px 10px 0;

            &.active {
                background-color: #999;
                color: white;
            }
        }
    } 
    .load-panel {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dotted #e8e8e8;


    }
    .attr-list {
        max-height: 500px;
        overflow-y: auto;
        line-height: 40px;
        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 4px;
            position: absolute;
            right: -8px;
          }
      
          &::-webkit-scrollbar:horizontal {
              height: 8px;
          }
          
          &::-webkit-scrollbar-track {
              border: 1px solid #ececec;
              border-radius: 4px;
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 4px;
          }
    }

    .attr-list-item {
        display: flex;
        & > div {
            flex-shrink: 0;
            margin-right: 10px;
        }

        .desc {
            flex: 1;
            word-break: break-all;
        }
    }
}

.attr-select-panel {
    .footer-button {
        cursor: pointer;
        background-color: #4fafef;
        padding: 10px;
        border-radius: 3px;
        color: white;
        text-align: center;
        width: 80px;
        display: inline-block;

    }
}

.ant-modal-content {
    width: 1000px;
    right: 250px;
}