.load-data {
    font-size: 18px;
    .load-panel {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dotted #e8e8e8;

        .datasets {
            display: flex;

            .button {
                height: 40px;
                border-radius: 10px;
                border: 1px solid #ececec;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                cursor: pointer;

                &.active {
                    background-color: #999;
                    color: white;
                }
            }
            margin-bottom: 20px;
        } 
    }
    .attr-list {
        max-height: 800px;
        overflow-y: auto;
        line-height: 40px;
    }

    .attr-list-item {
        display: flex;
        & > div {
            flex-shrink: 0;
            margin-right: 10px;
        }

        .desc {
            flex: 1;
            word-break: break-all;
        }
    }
}

.attr-select-panel {
    .footer-button {
        cursor: pointer;
        background-color: #4fafef;
        padding: 10px;
        border-radius: 3px;
        color: white;
        text-align: center;
        width: 80px;
        display: inline-block;

    }
}

.ant-modal-content {
    width: 1000px;
    right: 250px;
}