.mod-view {
    max-height: 100%;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;

    .view-title {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }

    .operation {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        margin-bottom: 10px;
        width: 100%;
        flex-direction: column;
        .mod-panel {
            display: flex;
            height: 170px; 
            border-radius: 5px;
            // border: solid 2px #fff;
            padding: 10px;
            width: 840px;
            margin-left: 50px;
            background-color: #e0e8ff;
            .model-title {
                border-right: solid 1px #fff;
                width: 300px;
                height: 150px; 
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
            } 
            .model-submit {
                margin-left: 100px;
                margin-top: 18px;
            }
            .model-panel {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: 150px;
                width: 600px;
            }
            .model-unit {
                height: 30px;
                min-width: 250px;
                display: flex;
                flex-direction: row;
                margin-right: 10px;
                margin-bottom: 5px;
                input {
                    width: 100px;
                }
            }
            .label {
                margin: 10px;
                vertical-align: middle;
                color: #333;
                line-height: 14px;
            }
        }
        .mod-mainContent {
            height: 720px;
            overflow-y: auto;
        }
        .single-event {
            height: 300px;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .mod-chart {
            display: flex;
            height: 300px;
            width: 500px;
        }
        .mod-report {
            display: flex;
            height:280px;
            margin: 10px;
            width:380px;
            // border: solid 1px #ccc;
            background-color: #efefef;
            flex-direction: column;
            .report-title {
                width: 100%;
                text-align: center;
                font-size: 20px;
                margin: 10px;
            }
            .report-h {
                color: #1866bb;
                white-space: nowrap;
            }
            .report-list {
                white-space:nowrap;
                width: 100%;
            }
        }
        
    }
    .model-legend {
        display: flex;
        height: 50px;
        margin: 5px 120px 0px 120px;
        padding: 13px;
        text-align: center;
        border: 2px #ddd dashed;
        
        .model-legend-unit{
          display: flex;
          width: 220px;
          height: 30px;
          label {
              margin-left: 5px;
          }
        }
        .model-dis {
          width: 20px;
          height: 20px;
          background-color: #d0e0f0;
        }
        .model-pos {
          width: 20px;
          height: 20px;
          background-color: #dedede;
        }
        .model-tp {
          width: 20px;
          height: 20px;
          background-color: rgba(254,41,1, 0.3);
        }
    }
}