.rec-view {
    max-height: 100%;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;

    .view-title {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }

    .operation {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        margin-bottom: 10px;
        flex-direction: column;

        label {
            margin-right: 5px;
        }
    }
    .rec-title {
        display: flex;
    }
    .rec-main {
        display: flex;
        flex-direction: row;
        height: 880px;
    }
    .rec-solution {
        height: 220px;
        width: 890px;
        .rec-list {
            height: 200px;
            width: 880px;
            flex-direction: row;
            display: flex;
            justify-content: space-around;
        }
        .rec-selection {
            width: 880px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            // .ant-radio-wrapper {
            //     margin-left: 82px;
            //     margin-right: 82px;
            // }
        }
    }
    
    .rec-scorll {
        position: relative;
        max-height: 880px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 4px;
            position: absolute;
            right: -8px;
        }

        &::-webkit-scrollbar:horizontal {
            height: 8px;
        }
         
        &::-webkit-scrollbar-track {
            border: 1px solid #ececec;
            border-radius: 4px;
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
          border-radius: 4px;
        }
        overflow-x: hidden;
        width: 900px;
    }
    .rec-th{
        font-size: 20px;
        text-align: center;
        height: 40px;
        width: 180px;
        border-right: 1px solid #fff;
        background: #bbb;
        color: #fff;
        padding-top:5px;
        font-size: 18px;
    }
    .rec-overview{
        height: 705px;
        padding-left: 20px;
    }
    .rec-panel {
        height: 30px;
        flex-direction: row;
        width: 100%;
        display: flex;
        p {
            margin-left: 220px;
        }
        .rec-button {
            height: 25px;
            margin-right: 10px;
        }
        .rec-switch {
            margin-left: 220px;
            label {
                margin: 5px;
            }
        }
    }
    .rec-td{
        width: 218px;
        border: 1px solid #ccc;
        padding: 0;  
        line-height: 10px;
        display: flex;

        // &:first-child {
        //     border-left: 1px solid #ececec;
        //   }
    }
}