.table-view {
    max-height: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;

    .table-title {
        display: flex;
        justify-content: space-between;
        .view-title {
            font-size: 24px;
            text-align: left;
            padding-bottom: 10px;
        }
    
        .operation {
            display: flex;
            margin-right: 8px;
            margin-top: 10px;
            margin-bottom: 10px;
    
            label {
                margin-right: 5px;
            }

            .ant-switch-checked {
                background: #1866bb;
            }
        }
    }
    
    // .table-foot {
    //     display: flex;
    //     justify-content: space-between;
    //     margin-top: 10px;

        
    // }

    .table {
        height: calc(100% - 105px);
        user-select: none;
        &.all-record {
            .table-body {.table-cell {
                height: 20px;
            }}
            
            .table-header.left {.table-cell {
                height: 20px;
                line-height: 20px;
            }}
        }
        .wrapper {
            display: flex;
        }

        .table-header.top {
            display: flex;
            overflow-x: hidden;
            margin-right: 8px;
            background-color: #bbb;
            color: white;
            font-size: 18px;
            height: 40px;
            flex: 1;

            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            img {
                width: 18px;
                max-height: 40px;
            }

            .table-cell {
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                min-width: 60px;
            }
        }

        .table-header.left {
            overflow-y: hidden;
            margin-bottom: 8px;
            position: relative;
            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }

            .risk {
                background-color: rgba(186,135, 100, 0.1);
            }
            .no-risk {
                background-color: #efefef;
            }

            .scroll-wrapper {
                overflow: hidden;
                min-width: fit-content;
                min-width: -moz-fit-content;
                &::-webkit-scrollbar {
                    height: 0px;
                    width: 0px;  /* remove scrollbar space */
                    background: transparent;  /* optional: just make scrollbar invisible */
                }
            }

            .table-cell.group {
                cursor: pointer;
            }
        }

        .table-header.top-left {
            min-width: 60px;
            display: flex;
            overflow-x: auto;
            background-color: #bbb;
            color: white;
            font-size: 18px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .table-body {
            flex: 1;
            overflow: auto;
            position: relative;
            .tooltip {
                position: absolute;
                width: auto;
                z-index: 99;
                pointer-events: none;
            }

            .table-cell {
                box-shadow: 1px 1px 0px rgba($color: #999999, $alpha: 0.2);
                height: 15px;
            }

            .table-row.group {
                .table-cell {
                    height: 30px;
                }

            }

            .table-row.risk {
                .table-cell {
                    background-color: rgba(186,135, 100, 0.1);
                }
            }
            .table-row.no-risk {
                .table-cell {
                    background-color: #efefef;
                }
            }

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 4px;
                position: absolute;
                right: -8px;
            }

            &::-webkit-scrollbar:horizontal {
                height: 8px;
            }
             
            &::-webkit-scrollbar-track {
                border: 1px solid #ececec;
                border-radius: 4px;
            }
             
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
              border-radius: 4px;
            }

            .scroll-wrapper.extent-rows {
                overflow-y: auto;
                min-width: fit-content;
                min-width: -moz-fit-content;
                &::-webkit-scrollbar {
                    height: 0px;
                    width: 0px;  /* remove scrollbar space */
                    background: transparent;  /* optional: just make scrollbar invisible */
                }
            }

            .selection-mask {
                border: 1px solid rgb(20, 80, 150);
                pointer-events: none;
            }
            .highlight-mask {
                position: absolute;
                pointer-events: none;
                border: 2px solid #3987db;
                // background-color: rgba($color: #999999, $alpha: 0.2);
                width: 100%;
            }
        }

        .table-row {
            display: flex;
            min-width: fit-content;
            min-width: -moz-fit-content;

            &.group {
                box-shadow: 0 2 2px #999;
                cursor: pointer;
            }
        }

        .table-cell {
            position: relative;
            flex: 1 0 0;
            text-align: center;
            line-height: 30px;
            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .bg {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
                &.del {
                    background-size: 100% 100%;
                }
            }
            width: 60px;
            height: 30px;
            min-width: 60px;

            &.select-row {
                cursor: crosshair;
                height: 10px;
            }
            &.em {
                font-weight: 500;
            }
        }

        .selection-mask {
            position: absolute;
            width: 100%;
            background: rgba(20, 80, 150, 0.2);
        }
    }

    .scroll-wrapper {
        position: relative;
        overflow: -moz-scrollbars-none;
    }
    .table-legend {
        display: flex;
        height: 50px;
        margin: 5px 120px 0px 120px;
        padding: 13px;
        text-align: center;
        border: 2px #ddd dashed;
        
        .table-legend-unit{
          display: flex;
          min-width: 120px;
          margin-left: 40px;
          height: 30px;
          label {
              margin-left: 5px;
          }
        }
        .table-utility {
          width: 100px;
          height: 10px;
          margin-top: 7px;
          background-image: linear-gradient(to right, rgba(33, 115, 50, 0.1), rgba(33, 115, 50, 0.87));
        }
        .table-risk {
          width: 100px;
          height: 10px;
          margin-top: 7px;
          background-image: linear-gradient(to right, rgba(186,135, 100, 0.1), rgba(186,135, 100, 1));
        }
        .table-remove {
          width: 20px;
          height: 20px;
          background-color: rgba(33, 115, 50, 0.5);
          background-size: 20px;
        }
    }
}