.table-view {
    max-height: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;

    .view-title {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }

    .operation {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        margin-bottom: 10px;

        label {
            margin-right: 5px;
        }
    }

    .table {
        height: calc(100% - 100px);
        user-select: none;

        .wrapper {
            display: flex;
        }

        .table-header.top {
            display: flex;
            overflow-x: auto;
            margin-right: 8px;
            background-color: #a0a0a0;
            color: white;
            font-size: 18px;

            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            img {
                width: 18px;
                max-height: 30px;
            }

            .table-cell {
                cursor: pointer;
            }
        }

        .table-header.left {
            overflow-y: auto;
            margin-bottom: 8px;
            position: relative;
            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
        }

        .table-header.top-left {
            min-width: 60px;
            display: flex;
            overflow-x: auto;
            background-color: #a0a0a0;
            color: white;
            font-size: 18px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .table-body {
            flex: 1;
            overflow: auto;
            position: relative;
            .table-cell {
                box-shadow: 1px 1px 1px rgba($color: #999999, $alpha: 0.2);
            }

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 4px;
                position: absolute;
                right: -8px;
            }

            &::-webkit-scrollbar:horizontal {
                height: 8px;
            }
             
            &::-webkit-scrollbar-track {
                border: 1px solid #ececec;
                border-radius: 4px;
            }
             
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
              border-radius: 4px;
            }
        }

        .table-row {
            display: flex;
        }

        .table-cell {
            position: relative;
            flex: 1 0 0;
            text-align: center;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .bg {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
            min-width: 60px;
            min-height: 30px;

            &.select-row {
                cursor: crosshair;
            }
        }

        .selection-mask {
            position: absolute;
            width: 100%;
            background: #000;
            opacity: 0.1;
            pointer-events: none;
        }
    }
}