.table-view {
    max-height: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;

    .view-title {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }

    .ant-switch-checked {
        background: #296dda;
    }

    .operation {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        margin-top: 10px;
        margin-bottom: 10px;

        label {
            margin-right: 5px;
        }
    }

    .table {
        height: calc(100% - 80px);
        user-select: none;

        .wrapper {
            display: flex;
        }

        .table-header.top {
            display: flex;
            overflow-x: hidden;
            margin-right: 8px;
            background-color: #bbb;
            color: white;
            font-size: 18px;
            height: 40px;

            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            img {
                width: 18px;
                max-height: 40px;
            }

            .table-cell {
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                min-width: 60px;
            }
        }

        .table-header.left {
            overflow-y: hidden;
            margin-bottom: 8px;
            position: relative;
            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }

            .scroll-wrapper {
                overflow: hidden;
                width: fit-content;
                max-height: 168px;
                &::-webkit-scrollbar {
                    height: 0px;
                    width: 0px;  /* remove scrollbar space */
                    background: transparent;  /* optional: just make scrollbar invisible */
                }
            }

            .selection-mask {
                border: 1px solid #999;
                border-right: none;
            }

            .table-cell.group {
                cursor: pointer;
            }
        }

        .table-header.top-left {
            min-width: 60px;
            display: flex;
            overflow-x: auto;
            background-color: #bbb;
            color: white;
            font-size: 18px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .table-body {
            flex: 1;
            overflow: auto;
            position: relative;
            .table-cell {
                box-shadow: 1px 1px 0px rgba($color: #999999, $alpha: 0.2);
            }

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 4px;
                position: absolute;
                right: -8px;
            }

            &::-webkit-scrollbar:horizontal {
                height: 8px;
            }
             
            &::-webkit-scrollbar-track {
                border: 1px solid #ececec;
                border-radius: 4px;
            }
             
            &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
              border-radius: 4px;
            }

            .scroll-wrapper.extent-rows {
                overflow-y: auto;
                width: fit-content;
                max-height: 168px;
                &::-webkit-scrollbar {
                    height: 0px;
                    width: 0px;  /* remove scrollbar space */
                    background: transparent;  /* optional: just make scrollbar invisible */
                }
            }

            .selection-mask {
                border: 1px solid #999;
                border-left: none;
            }
        }

        .table-row {
            display: flex;
            width: fit-content;

            &.group {
                box-shadow: 0 2 2px #999;
                cursor: pointer;
            }
        }

        .table-cell {
            position: relative;
            flex: 1 0 0;
            text-align: center;
            line-height: 30px;
            
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .bg {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
            width: 60px;
            height: 30px;

            &.select-row {
                cursor: crosshair;
            }
            &.em {
                font-weight: 500;
            }
        }

        .selection-mask {
            position: absolute;
            width: 100%;
            background: rgba(0, 0, 0, 0.1);
            // pointer-events: none;
        }
    }

    .scroll-wrapper {
        position: relative;
    }
}