@import url(~antd/dist/antd.css);
.app {
  max-height: 1080px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
}
.app .row {
  display: flex;
}
.app .col {
  display: flex;
  flex-direction: column;
}
.app .col > div {
  flex: 1;
}
.app .col:first-child {
  width: 540px;
  flex-shrink: 0;
}
.app .col:last-child {
  flex: 2;
}
.app .pipeline-btn-group {
  display: flex;
}
.app .pipeline-btn-group .pipeline-button {
  position: relative;
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  background-color: white;
  border-bottom: 1px solid rgba(130, 130, 130, 0.5);
  font-size: 24px;
  cursor: pointer;
}
.app .pipeline-btn-group .pipeline-button .content {
  z-index: 5;
}
.app .pipeline-btn-group .pipeline-button.active {
  background-color: #808080;
  color: white;
}
.app .pipeline-btn-group .pipeline-button.active::after {
  background-color: #808080;
}
.app .pipeline-btn-group .pipeline-button.active:hover {
  background-color: #808080;
  color: white;
}
.app .pipeline-btn-group .pipeline-button.active:hover::after {
  background-color: #808080;
}
.app .pipeline-btn-group .pipeline-button:hover {
  background-color: #ececec;
}
.app .pipeline-btn-group .pipeline-button:hover::after {
  background-color: #ececec;
}
.app .pipeline-btn-group .pipeline-button::after {
  z-index: 4;
  content: ' ';
  display: block;
  height: 41px;
  width: 41px;
  position: absolute;
  transform: rotateZ(45deg);
  right: -21px;
  border-right: 1px solid rgba(138, 138, 138, 0.5);
  border-top: 1px solid rgba(138, 138, 138, 0.5);
  background-color: white;
}
.app .pipeline-btn-group .pipeline-button:last-child::after {
  content: none;
}
.app .pipeline-btn-group .pipeline-button:first-child {
  padding-left: 0;
}
