@import '~antd/dist/antd.css';

.app {

  max-height: 1080px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  .row {
    display: flex;
  }

  > .row {
    height: 100%;

    .col {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-shrink: 0;
      & > div {
        flex: 1;
      }

      max-height: 1020px;
      overflow: hidden;

      &:first-child {
        border-right: 2px dotted rgba($color: #043d99, $alpha: .5);
      }
    }

  }
  .pipeline-btn-group {
    display: flex;
    .pipeline-button {
      position: relative;
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center; 
      padding-left: 28px;
      background-color: #bbb;
      color: white;
      // border-bottom: 2px solid rgba($color: #296dda, $alpha: .5);
      font-size: 24px;
      cursor: pointer;

      .content {
        z-index: 5;
      }

      &.active {
        background-color: #1866bb;
        color: #ffffff;
        &::after {
          background-color: #1866bb;
        }
      }

      &.active:hover {
        background-color: #1866bb;
        color: #ffffff;
        &::after {
          background-color: #1866bb;
        }
      }

      &:hover {
        background-color: #ccc;
        &::after {
          background-color: #ccc;
        }
      }

      &::after {
        z-index: 4;
        content: " ";
        // box-shadow: 0px -1px 1px #8a8a8a;
        display: block;
        height: 42px;
        width: 42px;
        position: absolute;
        transform: rotateZ(45deg);
        right: -21px;
        // border-right: 2px solid rgba($color: #ccc, $alpha: 0.5);
        // border-top: 2px solid rgba($color: #ccc, $alpha: 0.5);
        background-color: #bbb;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
}
